@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Next:ital,wght@0,200..800;1,200..800&display=swap');

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    color: #112100;
}

h1, p, li, a {
    font-family: "Atkinson Hyperlegible Next", sans-serif;
}

header {
    width: 100%;
    height: 56.54px;
    display: flex;
    background-color: #8F9F36;
}

footer {
    width: 100%;
    height: 100%;
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
    background-color: #8F9F36;
}

footer * {
    color: white;
}

footer a {
    color: rgb(251, 255, 198);
}

header a {
    display: flex;
    align-self: center;
}

p {
    text-align: justify;
}

#main-index {
    margin: 10px 0px 10px 0px;
    width: 100%;
    display: flex;
    flex-direction: column;
    height: auto;
    align-items: left;
}

iframe {
    margin: 0px 10px 0px 0px;
    height: 100%;
    border-right: 2px solid #8F9F36;
    display: flex;
    flex-direction: column;
}

#logo-leh {
    border-radius: 0px 500px 500px 0px;
    width: 226.16px;
    height: 56.54px;
    background-color: white;
}

#toggle-aside {
    margin-top: 12px;
}

#main-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
}

#content-block {
    width: 100%;
    display: flex;
    height: auto;
    flex-grow: 1;
    justify-content: flex-start;
}

.logo-header {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.logo-header div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-iframe-img {
    width: 30px;
    height: 25px;
}

.iframe-button-div {
    width: 100%;
    height: 49px;
    box-sizing: border-box;
    display: flex;
    background-color: #ffffff;
    margin: 0px;
}

.iframe-button-div button {
    background-color: #ffffff;
    border-radius: 10%;
    border: 3px solid rgba(0, 0, 0, 0.099);
    padding: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

.white-text {
    color: white;
}

.main-scroll {
    width: 100%;
    margin-top: 0px;
    box-sizing: border-box;
}

.main-scroll ul {
    padding: 0 0px 0 20px;
    margin-top: 20px;
}

.aside-fechado {
    width: 20px;
    padding: 0;
}

.aside-fechado iframe {
    display: none;
}

.main-main {
    display: flex;
    flex-direction: column;
    align-content: center;
    margin: 0px 120px 0px 100px;
}
