@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Next:ital,wght@0,200..800;1,200..800&display=swap');

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    font-family: Rubik;
    font-family: "Atkinson Hyperlegible Next", sans-serif;
}



/* tags no ids or classes ================================================================================================ */

header {
    display: flex;
    align-items: center;
    width: 100%;
    height: 62.5px;
    background-color: #88B61E;
    color: white;
}

header div {
    padding-top: 12px;
    width: 100%;
    display: flex;
    justify-content: center;
}

footer {
    display: flex;
    width: 100%;
    height: 62.5px;
    background-color: #88B61E;
}

body {
    height: 100vh;
}

p {
    margin: 10px 0px 10px 0px;
    text-align: justify;
    width: 90%;
    line-height: 25px;
    font-size: 17px;
}

main {
    padding: 70px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    position: relative;
}

h1 {
    width: 90%;
    text-align: left;
    margin-bottom: 20px;
}

/* tags no ids or classes ================================================================================================ */



/* ids =================================================================================================================== */

    #container {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

/* ids =================================================================================================================== */



/* classes =============================================================================================================== */

    .logo-leh {
        align-self: flex-start;
        width: 270px;
        height: 100%;
        background-color: white;
        border-radius: 0px 500px 500px 0px;
    }

    .main-design {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .main-design div {
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .aside-design {
        display: none;
    }

/* classes =============================================================================================================== */