@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Next:ital,wght@0,200..800;1,200..800&display=swap');

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}

header {
    width: 100%;
    height: 56.54px;
    display: flex;
    background-color: rgb(120, 150, 74);
}

footer {
    width: 100%;
    height: 56.54px;
    display: flex;
    background-color: rgb(120, 150, 74);
}

header a {
    display: flex;
    align-self: center;
}

main {
    width: 70%;
    display: flex;
    flex-direction: column;
    height: auto;
    margin-top: 10px;
    margin-bottom: 20px;
    flex-grow: 1;
    justify-content: flex-start;
}

iframe {
    padding: 0 0px 0 20px;
    margin: 10px;
    height: 100%;
    border-right: 2px solid black;
}

/* ids */

    #logo-leh {
        border-radius: 0px 500px 500px 0px;
        width: 226.16px;
        height: 56.54px;
        background-color: white;
    }

    #main-body {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 100vh;
    }

    h1, p {
        font-family: "Atkinson Hyperlegible Next", sans-serif;
    }

    #content-block {
        width: 100%;
        display: flex;
        height: auto;
        margin-top: 10px;
        margin-bottom: 20px;
        flex-grow: 1;
        justify-content: flex-start;
    }

/* ids */

/* class */

    .logo-header {
        display: flex;
        justify-content: center;
        gap: 50px;
    }

    .logo-header div {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .button-iframe {
        width: 20px;
    }

    .iframe-button-div {
        display: flex;
        justify-content: right;
    }

    .white-text {
        color: white;
    }

/* class */