@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    font-family: Rubik;
    font-family: "Azeret Mono", monospace;
}



/* tags no ids or classes ================================================================================================ */

header {
    display: flex;
    align-items: center;
    width: 100%;
    height: 62.5px;
    background-color: #1EB64E;
    color: white;
}

header div {
    padding-top: 12px;
    width: 100%;
    display: flex;
    justify-content: center;
}

footer {
    display: flex;
    width: 100%;
    height: 62.5px;
    background-color: #1EB64E;
}

body {
    height: 100vh;
}

p {
    margin: 10px 0px 10px 0px;
    text-align: justify;
    width: 90%;
    line-height: 25px;
    font-size: 17px;
}

main {
    padding: 70px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    position: relative;
}

h1, h2 {
    width: 90%;
    text-align: left;
    margin-bottom: 20px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* tags no ids or classes ================================================================================================ */



/* ids =================================================================================================================== */

    #container {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

/* ids =================================================================================================================== */



/* classes =============================================================================================================== */

    .logo-leh {
        align-self: flex-start;
        width: 270px;
        height: 100%;
        background-color: white;
        border-radius: 0px 500px 500px 0px;
    }

    .main-design {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .main-design div {
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .aside-design {
        display: none;
    }

    .nav-body ul {
        gap: 80px;
        background-color: #00E048;
        height: 60px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .nav-body ul li {
        border-radius: 10px 0px 0px 0px;
        background-color: rgb(255, 255, 255);
        padding: 6px;
        border-bottom: 3px solid black;
        border-right: 3px solid black;
        transition: 0.1s ease-in-out;
    }

    .nav-body ul li:hover {
        background-color: #2E8B4C;
        color: white;
        transform: translateX(-2px) translateY(-2px);
        border-radius: 0px 0px 10px 0px;
        border-bottom: 3px solid rgb(255, 255, 255);
        border-right: 3px solid rgb(255, 255, 255);
    }

    .nav-body ul a {
        color: #24362A;
    }

    .nav-body ul li:hover a {
        color: #fbffe8;
    }

/* classes =============================================================================================================== */